<html>
<head>
<title>Authenticate</title>
<link rel="stylesheet" type="text/css" href={{ url_for('static', filename='main.css') }}>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
<script type="text/javascript">
function focusForm() {
document.getElementById("veriform").focus();}
</script>
</head>

<body onload=focusForm()>
<p>Step two: <br /> the final phase</p>	
<form action="{{ url_for('auth') }}" method="post">
	<input name="veri-form" id="veriform" placeholder="words from the text">
	<input type=submit value="sign in" class="submit-button">	
</form>
<p class='bottom-options'><a href="http://github.com/zchr/phonein/README.txt">learn more</a> &#47; <a href="http://github.com/zchr/phonein/">view source</a>
</body>
</html>